.profileheader-container {
    width: 100vw; /* Full screen width */
    max-width: 100%; /* Limits width on large screens */
    height: 200px;
    background-color: #2E4661;
    text-align: center;
    padding: 40px 0;
    
    position: absolute; /* Positions the container at the top */
    top: 0; /* Aligns it to the top */
    left: 0;
    right: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    margin-top: 80px;
  }
 
  
  .about-text {
    color: #f28c28;
    font-size: 18px;
    font-weight: 600;
  }
  
  .profile-text {
    color: white;
    font-size: 24px;
    font-weight: bold;
  }
  