/* Overall container */
.login-container {
  margin-top: 35%;
  display: flex;
  height: 30px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 70vh; /* Ensuring minimum height */
  border: 1px solid rgb(150, 140, 140); /* Added transparent border */
  font-family: Arial, sans-serif;
  padding: 15px;
  border-radius: 10px;
}

/* Title */
.login-title {
  font-size: 24px;
  font-weight: bold;
  color: #1a1a1a;
  margin-bottom: 20px;
  padding-top: 50px;
}

/* Form */
.login-form {
  display: flex;
  flex-direction: column;
  width: 400px; /* Increased width */
}

.login-form label {
  font-size: 14px;
  color: #333;
  margin-bottom: 5px;
}

/* Input Fields */
.login-input {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: none;
  border-radius: 5px;
  background-color: #e6e6e6;
}

/* Forgot Password & Register Links */
.login-links {
  display: flex;
  justify-content: space-between; /* Keep both in one line */
  font-size: 14px;
  width: 100%; /* Ensure full width */
  margin-bottom: 20px;
}

.link-btn {
  background: none;
  border: none;
  color: #333;
  font-weight: bold;
  cursor: pointer;
}

.link-btn:hover {
  color: #ff6600;
}

/* Login Button */
.login-button {
  width: 100%;
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  background-color: #d15920;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}

.login-button:hover {
  background-color: #b84717;
}

/* Go Back Button */
.go-back {
  margin-top: 15px;
}

.go-back-btn {
  background-color: #333;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

.go-back-btn:hover {
  background-color: #555;
}