
.main-layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .main-header, .main-footer {
    background-color: #f8f9fa;
  
    
    
    
  }
  
  .main-about-header, .main-news {
    padding: 2rem;
    margin-bottom:100px;
    font-size:13px;
    margin-top:-100px;
    padding-top:-10px;
  }
  .reviews-section {
    width: 100%;
    background-color: #f9f9f9;
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .main-about-header, .main-news {
      padding: 1rem;
    }
  }
  