
.container-text {
    background-color: #09262a; 
    color: white; 
    text-align: center;
    padding: 150px 0; 
    font-size: 32px; 
    font-weight: bold;
    margin-top: 60px; 
    justify-content: center;
    align-items: center;
  }
  h2{
    color:orange;
    font-size:40px;
  }
  
/* .main-news-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    margin-top:150px;
    width: 80%;
    margin-bottom:500px;

  }
  
  .write-news-section {
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto; 
    width: 80%;
  }
   */