.news-container {
  max-width: 600px;
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.064);
  color: black;
  box-sizing: border-box;
  transform: translateX(-260px); 
  margin-top: 180px;
}

.news-heading {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #2d3748;
  margin-bottom: 2rem;
  font-size: 1.8rem;
  margin-top: -110px;
}

.news-heading-icon {
  font-size: 2rem;
  color: orange;
}

.news-features-grid {
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  width: 1200px;
  height: 100px;
}

.news-feature-item {
  display: flex;
  align-items: center;
  gap: 1rem;
  width: 500px;
  height: 160px;
  background-color: #f7fafc;
  border-radius: 10px;
  transition: transform 0.2s;
  box-sizing: border-box;
}

.news-feature-item:hover {
  transform: translateY(-5px);
}

.news-feature-icon {
  font-size: 2rem;
  color: orange;
  min-width: 50px;
}

@media (max-width: 1024px) {
  .news-features-grid {
    flex-wrap: wrap;
    justify-content: center;
  }

  .news-feature-item {
    flex: 1 1 calc(45% - 1.5rem);
    max-width: calc(45% - 1.5rem);
  }
}

@media (max-width: 768px) {
  .news-features-grid {
    flex-direction: column;
  }

  .news-feature-item {
    flex: 1 1 100%;
    max-width: 100%;
  }
}
